---
import { fetchAPI } from '../utils/api.js';

let roomsRemaining: number = await fetchAPI('rooms', 200);
---

<p
  class="text-white bg-gradient-to-tl from-teal-950/40 to-teal-600/40 border border-teal-600 rounded-lg text-center p-1"
>
  Just <strong class="font-bold text-teal-300">{roomsRemaining} rooms</strong> left!
</p>
